<%- include('../includes/head.ejs') %>

  </head>
<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="container">
      <% if(errorMessage) {%>
      <div class="text-center fs-5  fw-bold p-3 m-2 text-white rounded bg-danger">
       <%= errorMessage %>
      </div>
      <% } %>
  
      <form  action="/new-password" method="POST">
        <div class="form-control" style="margin-top: 10px;">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="userId" value="<%= userId %>">
          <input type="hidden" name="resetToken" value="<%= resetToken %>">

          <label for="password">Password:</label>
          <input class="form-control" placeholder="Enter The Password" type="password"  name="password">

        </div>
        <button class="btn btn-primary" style="margin-top:10px;" type="submit">Update Password</button>
      </form>
 
    </div>

    <%- include('../includes/end.ejs') %>
