<%- include('../includes/head.ejs') %>

  </head>
<body>
    <%- include('../includes/navbar.ejs') %>

    <div class="container">
      <% if(errorMessage) {%>
      <div class="text-center fs-5  fw-bold p-3 m-2 text-white rounded bg-danger">
       <%= errorMessage %>
      </div>
      <% } %>

      <form  action="/reset" method="POST">
        <div class="form-control" style="margin-top: 10px;">
          <label for="email">E-Mail :</label>
          <input class="form-control" placeholder="Enter The Email" type="email" name="email">
          
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        </div>
        <button class="btn btn-primary" style="margin-top:10px;" type="submit">Reset Password</button>
      </form>

    </div>

    <%- include('../includes/end.ejs') %>
